.Profile{
    background-color: #F9F9F9;
    height: 100vh;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.prBox__1{
    background-color: rgb(133, 128, 128);
    width: 300px;
    height: 500px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
   
}
.prBox__1 img{
    width: 120px;
}

.prBox__2 h1{
    border-bottom: 2px solid rgb(180, 177, 177);

}
.prBox__2{
    padding-top: 20px;
    background-color: white;
    width: 500px;
    height: 500px;
    padding-left: 20px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content:start;
	align-items:flex-start;
    
 
}
.information{
  height:300px;
}