.container__1 {
  width: 50%;
  height: 50%;
  border: 3px solid rgb(201, 192, 192);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
  margin-left: 350px;
}

.title {
  text-align: center;
  color: #d42a00;
  padding-top: 100px;
}

.zapa {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__account {
 padding-bottom: 50px;
}