.edit__information  {
    color: white;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.edit__information input{
    margin-top: 8px;
    outline: none;

}
.edit__information p{
    margin-top: 15px;
}
.forgot__box{
    background-color: rgb(255, 255, 255,0.1);
    padding: 40px;
}


